@use 'sass:math';

h3 {
  font-family: 'Bad Script', cursive, sans-serif;
  font-size: 1.4rem;
  margin-top: 3rem;
}
.item {
  max-width: 500px;
  margin: 1rem auto;
  text-align: left;
  a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    .img {
      flex-shrink: 0;
      width: 128px;
      height: 128px;
      border-radius: 99px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .text {
      flex-grow: 1;
      margin-left: 1rem;
      line-height: 1.4;
      .url {
        text-decoration: underline;
        margin-bottom: 0.8rem;
      }
    }
  }
}
