<ng-container *ngFor="let work of works">
  <h3 *ngIf="work.title">{{ work.title }}</h3>
  <div class="item" *ngFor="let item of work.items">
    <a [href]="item.href" target="_blank">
      <div class="img" [style.background-image]="'url(' + item.backgroundImageUrl + ')'"></div>
      <div class="text">
        <ng-container *ngFor="let text of item.text">
          <div *ngIf="text.type === 'url'" class="url">{{ text.value }}</div>
          <div *ngIf="text.type === 'html'" [innerHTML]="text.value"></div>
        </ng-container>
      </div>
    </a>
  </div>
</ng-container>
