<div class="l-top">
  <div class="inner">
    <div [style.background-image]="'url(assets/images/icon.jpg)'" class="ui-profile-image"></div>
    <div class="message">
      Hi, I am Yoshihiro Okuda<br />
      <strong>
        Who Loves<br />
        Angular & Firebase.
      </strong>
    </div>
    <div class="detail">
      I specialize as a frontend engineer in web service development, and I also handle backend and infrastructure
      development as needed. <br />Additionally, I am currently running a limited liability company.
    </div>
  </div>
</div>

<div class="l-skill">
  <div class="inner">
    <h2>My Skills</h2>
    <app-skills></app-skills>
  </div>
</div>

<div class="l-work">
  <div class="inner">
    <h2>My Works</h2>
    <app-work></app-work>
  </div>
</div>

<div class="l-contact">
  <div class="inner">
    <h2>CONTACT</h2>
    <app-contact></app-contact>
  </div>
</div>
