<div class="section ui-profile-outer">
  <div class="ui-profile-inner">
    <div class="ui-profile">
      Hi, I am Yoshihiro Okuda
      <div class="ui-focus">
        Who Loves
        <p>Angular & Firebase</p>
      </div>
      <div class="ui-detail">
        I specialize as a frontend engineer in web service development, and I also handle backend and infrastructure development as needed. Additionally, I am currently running a limited liability company.
      </div>
    </div>
  </div>
</div>
<div class="section ui-skill-outer">
  <div class="ui-skill-inner">
    <div [style.background-image]="'url(assets/images/icon.jpg)'" class="ui-icon"></div>
    <div class="ui-skill">
      <div class="ui-title">
        スキル
      </div>
      <div class="ui-list">
        <app-skills></app-skills>
      </div>
    </div>
  </div>
</div>
<div class="section ui-work-outer">
  <div class="ui-work-inner">
    <div class="ui-work">
      <div class="ui-title">
        活動
      </div>
      <div class="ui-list">
        <app-work></app-work>
      </div>
    </div>
  </div>
</div>
<div class="section ui-contact-outer">
  <div class="ui-contact-inner">
    <div class="ui-contact">
      <div class="ui-title">CONTACT</div>
      <div class="ui-list">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>
