@use 'sass:math';

//
.ui-profile-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ececec;
  border-radius: 999px;
  border: 1px solid #fff;
}
h2 {
  font-family: 'Bad Script', cursive, sans-serif;
  font-size: 2rem;
}

.l-top,
.l-skill,
.l-work,
.l-contact {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  .inner {
    padding: 4rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}

.l-top {
  background-image: url('/assets/images/Mt-Fuji.jpg');
  .inner {
    .ui-profile-image {
      margin: 0 auto 2rem;
    }
    .message {
      font-size: 1.2rem;
      line-height: 1.7;
      font-family: 'Bad Script', cursive, sans-serif;
      strong {
        display: block;
        padding-top: 1rem;
        font-size: 2rem;
        line-height: 1.7;
      }
    }
    .detail {
      font-size: 1rem;
      line-height: 1.7;
      font-family: 'Quicksand', sans-serif;
    }
  }
}

.l-skill {
  background-image: url('/assets/images/walking.JPG');
}

.l-work {
  background-image: url('/assets/images/cute.jpg');
}

.l-contact {
  background-image: url('/assets/images/contact.jpg');
}
