<div class="skill">
  <div class="love card-item">
    <div class="title">{{ skills.likes.title }}</div>
    <div class="list-item">
      <ng-container *ngFor="let data of skills.likes.list">
        <div [class]="data.type">{{ data.value }}</div>
      </ng-container>
    </div>
  </div>
  <div class="experienced card-item">
    <div class="title">{{ skills.experienced.title }}</div>
    <div class="list-item">
      <ng-container *ngFor="let data of skills.experienced.list">
        <div [class]="data.type">{{ data.value }}</div>
      </ng-container>
    </div>
  </div>
</div>
