.skill {
  display: flex;
  justify-content: center;
  .card-item {
    width: 200px;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 14px;
    .title {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
    .item {
      display: inline-block;
      background-color: #eee;
      margin: 0 8px 8px 0;
      padding: 4px 10px;
      border: 1px solid #ccc;
      border-radius: 99px;
      font-family: 'Quicksand', sans-serif;
    }
    .division {
      display: block;
      width: 100%;
      padding: 6px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: initial;
    .card-item {
      width: 80%;
      margin-bottom: 2rem;
    }
  }
}
