.list {
  display: flex;
  justify-content: center;
  a {
    display: block;
    margin: 0 1rem;
    img {
      width: 68px;
      height: 68px;
      background-color: #fff;
      border-radius: 99px;
    }
  }
}
